<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- only use one thread, even in production, because we are using a single long-running saga and it could cause
  concurrency errors to access the same saga instance from multiple threads at a time. -->
  <TransportConfig xdt:Transform="Replace"
                   MaximumConcurrencyLevel="1"
                   MaxRetries="5"
                   MaximumMessageThroughputPerSecond="0" />
  <SecondLevelRetriesConfig xdt:Transform="Replace" Enabled="true" TimeIncrease="00:00:10" NumberOfRetries="30"/> <!-- every 10 seconds for 5 minutes -->

  <!-- TODO: Replace with audit@MyProductionAuditServer and error@MyProductionAuditServer -->
  <AuditConfig xdt:Transform="Replace" QueueName="audit@localhost" />
  <MessageForwardingInCaseOfFaultConfig  xdt:Transform="Replace" ErrorQueue="error@localhost" />

  <log4net>
    <appender name="ColoredConsoleAppender" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <appender name="rolling" xdt:Locator="Match(name)" type="log4net.Appender.RollingFileAppender">
      <!-- TODO: Typicaly use D: or some other drive than C in production -->
      <file xdt:Transform="Replace" value="C:\Logs\EaiGuy.ServiceControl.Emailer\EaiGuy.ServiceControl.Emailer.log" />
    </appender>
    <root>
      <level xdt:Transform="Replace" value="INFO"/>
      <appender-ref xdt:Transform="Replace" ref="rolling" />
    </root>
  </log4net>

  <appSettings>
    <!-- TODO: Replace with production server share -->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="WriteACopyOfAllEmailsToThisFolder" value="C:\TestLocation\Release\Emails"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DisableSendingEmails" value="false" />
  </appSettings>

</configuration>