<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <TransportConfig xdt:Transform="Replace" MaximumConcurrencyLevel="1" MaxRetries="3" />
  <SecondLevelRetriesConfig xdt:Transform="Replace" Enabled="false" />

  <log4net>
    <appender name="rolling" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <root>
      <level xdt:Transform="Replace" value="INFO"/>
      <appender-ref xdt:Transform="Replace" ref="ColoredConsoleAppender" />
    </root>
  </log4net>

  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DisableSendingEmails" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="QueryServiceControlMinutes" value="1" />
  </appSettings>

</configuration>
