<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <!-- ServiceControl Monitor Emailer Settings -->
    <add key="ErrorEmailAddress" value="errors@mycompany.com" />
    <!--TODO: Not yet supported: <add key="EndpointSpecificErrorEmailAddresses" value="EaiGuy.Email.Sender:email1@email.com,email2@email.com;" />-->
    
    <!-- ESB Email Common Settings-->
    <add key="FromAddress" value="no-reply@mycompany.com" />
    <add key="FromDisplayName" value="ESB Email" />
    <add key="SmtpServer" value="email.mycompany.com" />
    <add key="WriteACopyOfAllEmailsToThisFolder" value="C:\TestLocation\Emails" />
    <add key="DisableSendingEmails" value="false" />
  </appSettings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="EaiGuy.ServiceControl.Monitor.Messages" Endpoint="eaiguy.servicecontrol.monitor" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="audit" />
  <log4net>
    <appender name="rolling" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\EaiGuy.ServiceControl.Monitor.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="3000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <!-- The value of the 'Threshold' attribute of the 'Logging' element can be any of
       the standard Log4Net entries: ALERT, ALL, CRITICAL, DEBUG, EMERGENCY, ERROR, 
       FATAL, FINE, FINER, FINEST, INFO, NOTICE, OFF, SEVERE, TRACE, VERBOSE, and WARN. 
       Make sure you use all caps for these entries. -->
      <level value="ALL" />
      <appender-ref ref="" />
    </root>
  </log4net>
  <Logging Threshold="Debug" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>